.cards-container {
  width: 100%;
  padding: 40px 60px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  background: #f3d0a8;
}

.service-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;

  text-align: center;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.service-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.service-card h2 {
  font-size: 22px;
  margin: 0;
  padding: 15px 10px;
}

.price {
  background: #f1f1f1;
  padding: 15px;

  font-size: 20px;
  font-weight: bold;
}

.service-card button {
  margin: 20px;

  padding: 12px 35px;

  background: #dfa510;
  color: white;

  border: none;
  border-radius: 10px;

  font-size: 17px;

  cursor: pointer;
}